$phone-breakpoint: 767px;
$tablet-start: 768px;
$tablet-end: 1023px;

.buttonWrapper {
  button {
    padding: 1rem 3rem;
    background-color: transparent;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      outline: none;
      box-shadow: 4px 4px 0 0 aqua;
      transform: translate(-5px, -5px);
      transition: 0.5s;

      @media screen and (max-width: $tablet-end) {
        box-shadow: none;
        transform: none;
        transition: none;
      }
    }
  }
}
