$phone-breakpoint: 767px;
$tablet-start: 768px;
$tablet-end: 1023px;

.heroWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .textWrapper {
    width: 70%;

    @media (max-width: $phone-breakpoint) {
      width: 100%;
      padding: 1rem;
    }

    span {
      color: aqua;
    }

    h1 {
      color: #ccd6f6;
      padding: 2rem 0rem;
      font-size: 4rem;
      font-weight: 800;

      @media (max-width: $phone-breakpoint) {
        font-size: 2rem;
      }

      span {
        color: #8892b0;
      }
    }
    p {
      width: 50%;
      color: #8892b0;
      margin-bottom: 2rem;

      @media (max-width: $phone-breakpoint) {
        width: 100%;
      }
    }
    a {
      width: 158px;
      height: 58px;
      display: block;
    }
  }
}
