$phone-breakpoint: 767px;
$tablet-start: 768px;
$tablet-end: 1023px;

.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;

  .contact {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $phone-breakpoint) {
      width: 100%;
      padding: 1rem;
    }

    h3 {
      color: aqua;
      font-size: 3rem;
      font-weight: 700;
    }

    p {
      width: 60%;
      text-align: center;
      padding: 2rem 0;

      @media screen and (max-width: $phone-breakpoint) {
        width: 100%;
      }
    }
  }

  .footer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;

    @media screen and (max-width: $phone-breakpoint) {
      width: 100%;
    }

    p {
      color: #8892B0;
      font-size: 0.8rem;
    }
  }
}
